main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	font-weight: 600;
	font-family: system-ui;
}

section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

section h1 {
	flex-basis: 100%;
	text-align: center;
	font-size: 2em;
	margin: 0;
}

section article {
	background: #74b087;
	width: 6rem;
	height: 6rem;
	padding: 0.3rem;
	border-radius: 0.25rem;
}

section article .available_zone {
	position: relative;
	border: 0.25rem dotted #dddddd50;
	padding: 0.2rem;
	height: 5rem;
}

section article .available_zone::before {
	content: attr(number);
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: min-content;
	height: min-content;
	z-index: 1;
	color: #dddddd50;
	font-size: 2em;
}

section article .available_zone .box {
	position: sticky;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;

	background: #de7300;
	width: 5rem;
	height: 5rem;
	cursor: pointer;
	border-radius: 0.25rem;

	transition: all 0.35s ease-in-out;
}

section article .available_zone .box.dragstart {
	border-radius: 5rem;
}

section article .available_zone .box.hide {
	opacity: 0;
}
